.div {
    display: flex;
    transition: 3s;

}

.icon-1 {
    display: none;

    font-size: 50px;
    animation: icon-right 1s ;
    transition: 0.2;
}


.icon-2 {
    font-size: 50px;


}



@keyframes icon-right {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(9px);

    }

30% {
        transform: translateX(0);
    }
}
